<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Balance: <%= @pocket.balance %> </br>
Teacher_id: <%= @pocket.teacher_id %> </br>
Student_id: <%= @pocket.student_id %> </br>


