<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Nik: <%= @teacher.nik %> </br>
Name: <%= @teacher.name %> </br>
Age: <%= @teacher.age %> </br>
Rombel: <%= @teacher.rombel %> </br>
Mapel: <%= @teacher.mapel %> </br>

