<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Id_transaction: <%= @payment.id_transaction %> </br>
Status: <%= @payment.status %> </br>
Upload: <%= @payment.upload %> </br>


