<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Title: <%= @exam.title %> </br>
Mapel: <%= @exam.mapel %> </br>
Duration: <%= @exam.duration %> </br>
Nilai: <%= @exam.nilai %> </br>
Status: <%= @exam.status %> </br>
Level: <%= @exam.level %> </br>
Student_id: <%= @exam.student_id %> </br>
