
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Title: <%= @report.title %> </br>
Hasil: <%= @report.hasil %> </br>
Mapel: <%= @report.mapel %> </br>
Teacher_id: <%= @report.teacher_id %> </br>
Student_id: <%= @report.student_id %> </br>
Date: <%= @report.date %> </br>

